<%= render "shared/header" %>
<div class ="main-content">
  <div class="left-content">
    <div class="highlight-tags">
    </div>
  </div>
  <div class="center-content">
    <div class="highlight-recipes">
    </div>
  </div>
</div>
<div class="contact">
  <div class="contact-form">
  </div>
</div>
<%= render "shared/footer" %>