<%= render "shared/header" %>
<div class="search">
</div> 
<div cl ass ="main-content">
  <div class="side-content">
    <div class="highlight-tags">
    </div>
  </div>
  <div class="center-content">
    <div class="highlight-recipes">
    </div>
  </div>
</div>
<div class="contact">
  <div class="contact-form">
  </div>
</div>
<%= render "shared/footer" %>