<%= render "shared/header" %>
<div class="search">
</div>
<div class ="main">
  <div class="highlight-tags">
  </div>
  <div class="highlight-recipes">
  </div>
</div>
<div class="side">
</div>
<div class="contact">
  <div class="contact-form">
  </div>
</div>
<%= render "shared/footer" %>