<%= render "shared/complex_search" %>
<div class="center-contents">
  <div class="posted-recipes-title">
    投稿レシピ一覧
  </div>
  <div class="posted-recipes-contents">
    <%= render "search_recipe" , search_recipes: @search_recipes %>
  </div>
</div>