<div class="nutrient-name">
  <%= @nutrient.nutrient_name %>
</div>
<div class="nutrient-image">
  <%= image_tag @nutrient.image %>
</div>
<div classs="nitrient-content">
  <%= @nutrient.nutrient_content %>
</div>