a{
  text-decoration: none;
}

.header-all{
  z-index: 2;
  position: fixed;
  height: 60px;
  width: 100vw;
  background-color: khaki;
  display: flex;
}

.header-content{
  display: flex;
  align-items: center;
  height: 100%;
}

.header-content > .menu{
  display: absolute;
}

.header-logo{
  height: 100%;
  width: 350px;
  padding: 5px 0px 5px 0px;
  display: flex;
  justify-content: center;
}

.logo-text{
  font-family:'Chalkduster','Brush Script MT','Mv Boli','HanziPen SC','MS UI Gothic','ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
  font-size: 2rem;
}

.header-search{
  width: 25vw;
  justify-content: center;
}

.recipe_search{
  justify-content: center;
}

.recipe-post-btn{
  margin: 0 20px;
}


.recipe-post-btn>a{
  font-family:'Chalkduster','Brush Script MT','Mv Boli','HanziPen SC','MS UI Gothic','ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
}

.header-main-content{
  width: 60vw;
  display: flex;
}

.menu{
  align-items: normal;
  font-family:'Chalkduster','Brush Script MT','Mv Boli','HanziPen SC','MS UI Gothic','ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
}

ul.user-session{
  display: flex;
  margin: 0 20px;
}

ul.user-session li a{
  font-family:'Chalkduster','Brush Script MT','Mv Boli','HanziPen SC','MS UI Gothic','ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
}

ul.nav{
  display: none;
}

.menu ul.nav li a{
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-top: none;
  box-sizing: border-box;
}