.header-content{
  z-index: 2;
  position: fixed;
  height: 50px;
  width: 100vw;
  display: flex;
  background-color: khaki;
}

.header-logo{
  height: 100%;
  width: 10vw;
}

.header-search{
  width: 30vw;
}

.header-main-content{
  width: 60vw;
  display: flex;
}

ul.nav{
  display: none;
}