.header-content{
  height: 20vh;
  width: 100vw;
  display: flex;
  background-color: khaki;
}

.header-logo{
  height: 100%;
  width: 10vw;
}

.header-search{
  width: 30vw;
}

.header-main-content{
  width: 60vw;
}

ul{
  display: none;
}