.arrow_box {
	position: relative;
	background: #ffffff;
	border: 1px solid #809c9b;
}

// 〜〜〜〜左側のコンテンツ〜〜〜〜

.left-contents {
  box-sizing: border-box;
  min-height: 87vh;
  box-sizing: border-box;
  width: 25vw;
  padding: 1rem 1rem 2rem 1rem;
  background-color: #cefff1;
}

.complex-search{
  h3{
    text-align: center;
    margin-bottom: 1rem;
  }
  .recipe_search{
    label{
      &.search-items{
        color: blue;
        font-size: 1.2rem;
        padding-top: 1rem;
      }
      display: block;
      .arrow_box{
        span{
          //栄養コメントを改行させないよう
          white-space: nowrap;
        }
        a{
          //コメントとリンクを縦並びに配置するため
          display:block
        }
      }
    }
    display: block;
    p.nutrients-items{
      text-decoration: underline;
      margin: 1rem 0 1rem 0;
      color: green;
    }
    input{
      &[name="commit"]{
        width: 8vw;
        display: block;
        margin: 1rem auto 0 auto;
      }
    }
  }
  .nutrients-check-boxes{
    margin-left: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    label{
      margin-left: 0.5rem; 
    }
  }
}

#q_title_cont{
  
}

select{
}

// 〜〜〜〜左側のコンテンツ〜〜〜〜