<%= render "shared/complex_search" %>
<div class="center-contents">
  <div class="user-contents">
    <div class="user-info">
      <div class="user-image">
      </div>
      <div class="user-name">
      </div>
    </div>
    <div class="user-recipe-contents">
      <ul class="tab-lists">
        <li class="my-recipes"><a href="#">マイレシピ</a></li>
        <li class="favorite-recipes">
          <a href="#">お気に入りレシピ</a>
        </li>
      </ul>
      <ul class="tab-contents"> 
        <li class="my-recipes">
          自分のレシピを表示
        </li>
        <li class="favorite-recipes">
          お気に入りレシピを表示
          <%= render "favorite_recipe", favorite_recipes: @favorite_recipes %>
          <% @favorite_recipes.each do |recipe| %>
            <%= recipe.title %>
            <%= recipe.content %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>