<%= render "shared/header" %>

<div class="user-contents">
  <div class="user-info">
    <div class="user-image">
    </div>
    <div class="user-name">
    </div>
  </div>
  <div class="user-recipe-contents">
    <div class="my-recipes">
      <div class="my-recipe">
      </div>
    </div>
    <div class="my-favorite-recipes">
      <div class="favorite-recipe">
      </div>
    </div>
  </div>
</div>


<%= render "shared/footer" %>