.posted-recipes-contents{
  .recipe-lists{
    text-decoration: none;
    .recipe-list{
      .recipe-list-contents{
        display: flex;
        .recipe-text-contents{
          box-sizing: border-box;
          width: 30vw;
        }
        .recipe-image-content{
          box-sizing: border-box;
          width: 32vw;
          border-radius: 1rem;
        }
      }
    }
    .jscroll-inner{
      li{
        box-sizing: border-box;
        padding: 1rem;
        margin: 1rem;
        border-radius: 1rem;
        background-color: white;
        list-style: none;
      }
    }
  }
}

// ペーネーションの「次・前」ボタン非表示
nav.pagination{
  display: none;
}