.recipe-post-form{
  position: relative;
  top: 8vh;
  min-height: 92vh;
  box-sizing: border-box;
  padding: 2rem 2rem 10vh 15rem;
  .recipe-post-text{
    text-align: center;
  }
  form{
    display: flex;
    flex-direction: column;
    width: 50vw;
    #image-preview{
      display: flex;
      div{
        img{
          max-height: 15rem;
          width: auto;
          border-radius: 0.5rem;
        }
      }
    }
    input[name="commit"]{
      width: 5rem;
    }
  }
}