.recipe-show-contents{
  display: flex;
  flex-direction: column;
  padding-left: 5rem;
  .recipe-show-items{
    display: flex;
    flex-direction: column;

    .recipe-title-contents{
      display: flex;
      .recipe-title{
  
      }
      .star-btn{
  
      }
      .recipe-user{
  
      }
    }
    .recipe-image-content{
      width: 45vw;
      height: 50vh;
    }
    .recipe-text-contents{
      display: flex;
      flex-direction: column;
  }
  .recipe-show-items{

    }
  }
  .posted-comment{
    display: flex;
    flex-direction: column;
    p{
      align-items: center;
      justify-content: center;
    }
  }
  .comment-contents{

  }
}