.recipe-show{
  position: relative;
  top: 8vh;
  box-sizing: border-box;
  padding-bottom: 5vh;
  padding: 2rem 2rem 5vh 2rem;
  min-height: 100vh;
  display: flex;
  .recipe-show-contents{
    min-height: 100vh;
    display: flex;
    flex-flow: column;
     padding-left: 5rem;
    .recipe-text-contents{
      
    }
  }
}